{{>header}}

<div class="container">
  <div>
    <h2>{{plainProduct.title}}</h2>
    <p>{{plainProduct.description}}</p>
    <p>Código: {{plainProduct.code}}</p>
    <p>Precio: {{plainProduct.price}}</p>
    <p>Categoría: {{plainProduct.category}}</p>
    {{>buttonAddCart param=plainProduct._id}}
  </div>
</div>